@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Regular.woff2") format("woff2"),
       url("/fonts/MabryPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Medium.woff2") format("woff2"),
       url("/fonts/MabryPro-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
